<%= simple_form_for([@calendar, @event]) do |form| %>
  <%= form_error_hint(@event) %>
  <%= form.input(
    :occurred_on,
    label: 'Date',
    input_html: { value: @event.occurred_on.to_s }
  ) %>
  <%= form.input(:title) %>
  <% if current_user.can_own?(@event.calendar) %>
    <%= form.input(:hidden, as: :boolean) %>
  <% end %>
  <div class="actions">
    <%= form.submit %>
    <%= link_to(
      t('helpers.action.event.delete'),
      calendar_event_path(@calendar, @event),
      method: :delete,
      data: { confirm: t('helpers.messages.confirm_delete') }
    ) %>
  </div>
<% end %>
