<%= simple_form_for([@calendar, @event]) do |form| %>
  <%= form_error_hint(@event) %>
  <%= label_tag(:date) %>
  <%= text_field_tag(:date, @event.occurred_on, disabled: true) %>
  <%= form.input(
    :occurred_on,
    input_html: { value: @event.occurred_on.day_number },
    as: :hidden
  ) %>
  <%= form.input(:title) %>
  <div class="actions">
    <%= form.submit %>
    <%= link_to(
      t('helpers.submit.event.cancel'),
      calendar_path(@calendar, date: @event.occurred_on)
    ) %>
  </div>
<% end %>
