<%= simple_form_for([:calendar, @event]) do |form| %>
  <%= form_error_hint(@event) %>
  <%= form.input(
    :occurred_on,
    label: 'Date',
    input_html: { value: date_from_day_number(params[:occurred_on]).to_s }
  ) %>
  <%= form.input(:title) %>
  <div class="actions">
    <%= form.submit %>
    <%= link_to(
      t('helpers.action.event.cancel'),
      calendar_path(params[:calendar_id], date: date_from_day_number(params[:occurred_on]))
    ) %>
  </div>
<% end %>
