<%= simple_form_for([:calendar, @event]) do |form| %>
  <% if @event.errors.any? %>
    <%= pluralize(@event.errors.count, 'error') %> prevented your account from being created:
    <ul>
      <% @event.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form.input(
    :occurred_on,
    label: 'Date',
    input_html: { value: params[:date] }
  ) %>
  <%= form.input(:title) %>
  <%= form.submit %>
<% end %>
