<%= render 'form' %>
<ul class="invitation-list">
  <% @calendar.invitations.each do |invitation| %>
    <li><%= invitation.email %></li>
  <% end %>
</ul>
<%= simple_form_for([@calendar, @invitation]) do |form| %>
  <%= form.input :owner_id, as: :hidden %>
  <%= form.input :calendar_id, as: :hidden %>
  <%= form.input :email %>
  <%= form.input :level, collection: [%w(Editor editor), %w(Viewer viewer)] %>
  <%= form.submit %>
<% end %>
