<%= render 'form' %>
<ul class="invitations">
  <% @calendar.invitations.each do |invitation| %>
    <li>
      <%= invitation.email %>
      <%= link_to(
        t('helpers.action.invitation.delete'),
        calendar_invitation_path(@calendar, invitation),
        method: :delete,
        class: 'delete'
      ) %>
    </li>
  <% end %>
</ul>
<%= simple_form_for([@calendar, @invitation]) do |form| %>
  <%= form.input :owner_id, as: :hidden %>
  <%= form.input :calendar_id, as: :hidden %>
  <%= form.input :email %>
  <%= form.input :level, collection: permission_levels_for_select %>
  <%= form.submit %>
<% end %>
