<%= render partial: 'form', locals: { calendar: @calendar_presenter.calendar } %>
<section class="permissions">
  <h3>Permissions</h3>
  <%= @calendar_presenter.permission_list %>
</section>
<section class="invitations">
  <h3>Invitations</h3>
  <%= @calendar_presenter.invitation_list %>
  <%= simple_form_for([@calendar_presenter.calendar, @invitation]) do |form| %>
    <%= form.input :owner_id, as: :hidden %>
    <%= form.input :calendar_id, as: :hidden %>
    <%= form.input :email %>
    <%= form.input :level, collection: permission_levels_for_select %>
    <%= form.submit %>
  <% end %>
</section>
