<section class="calendar">
  <header>
    <%= link_to calendars_path(date: @date << 1) do %>
      previous
    <% end %>
    <%= "#{ArDate::MONTH_NAMES[@date.month - 1]} #{@date.year}" %>
    <%= link_to calendars_path(date: @date >> 1) do %>
      next
    <% end %>
  </header>
  <%= calendar @date do |date| %>
    <%= date.day %>
  <% end %>
</section>
