<section class="calendar">
  <nav>
    <%= link_to calendars_path(date: @date << 1) do %>
      previous
    <% end %>
    <span class="month-and-year">
      <%= "#{ArDate::MONTH_NAMES[@date.month - 1]} #{@date.year}" %>
    </span>
    <%= link_to calendars_path(date: @date >> 1) do %>
      next
    <% end %>
  </nav>
  <%= calendar @date do |date| %>
    <span class="number"><%= date.day %></span>
    <ul class="events">
      <%= render(partial: 'calendars/event',
                 collection: @events.for(date: date)) %>
    </ul>
  <% end %>
</section>
