<section class="calendar">
  <nav>
    <%= @presenter.previous_month_link(from: @date) %>
    <%= @presenter.month_and_year(from: @date) %>
    <%= @presenter.next_month_link(from: @date) %>
  </nav>
  <%= calendar_display @date do |date| %>
    <header>
      <span class="number"><%= date.day %></span>
    </header>
    <ul class="events">
      <%= render(partial: 'calendars/event',
                 collection: @events.for(date: date),
                 locals: { calendar: @calendar }) %>
      <% if current_user.can_edit?(@calendar) %>
        <%= link_to(
          t('helpers.action.event.new'),
          new_calendar_event_path(@calendar, occurred_on: date.day_number),
          class: 'new-event action'
        ) %>
      <% end %>
    </ul>
  <% end %>
</section>
