<section class="calendar">
  <nav>
    <%= @presenter.previous_month_link %>
    <%= @presenter.month_and_year %>
    <%= @presenter.next_month_link %>
  </nav>
  <div class="wrapper">
    <%= @presenter.day_names_header %>
    <% @presenter.calendar_weeks do |week| %>
      <div class="week">
        <% @presenter.week_dates(within: week) do |date| %>
          <div class="<%= @presenter.date_classes(date) %>">
            <header>
              <span class="number"><%= date.day %></span>
              <%= @presenter.today_action(on: date) %>
            </header>
            <%= @presenter.events(on: date) %>
            <%= @presenter.new_event_action(on: date) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
