<section class="calendar">
  <nav>
    <%= link_to calendar_path(date: @date << 1) do %>
      previous
    <% end %>
    <span class="month-and-year">
      <%= "#{ArDate::MONTH_NAMES[@date.month - 1]} #{@date.year}" %>
    </span>
    <%= link_to calendar_path(date: @date >> 1) do %>
      next
    <% end %>
  </nav>
  <%= calendar @date do |date| %>
    <header>
      <span class="number"><%= date.day %></span>
      <%= link_to(
        t('helpers.action.event.new'),
        new_calendar_event_path(@calendar, date: date),
        class: 'new-event'
      ) %>
    </header>
    <ul class="events">
      <%= render(partial: 'calendars/event',
                 collection: @events.for(date: date),
                 locals: { calendar: @calendar }) %>
    </ul>
  <% end %>
</section>
