<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <title>AbsalomReckoning</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'sidebar' %>
    <main>
      <div class="content-wrapper">
        <%= render 'flashes' %>
        <%= yield %>
      </div>
    </main>
    <%= render 'javascript' %>
  </body>
</html>
